html{
    text-align: center;
}
.people_container{
    border: solid 2px black;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(69, 185, 231) 0, rgb(15, 114, 160));
    display: flex;
    flex-direction: row;
    justify-content: center;

}
